@import "variables";

@mixin party {
  @media (min-width: 600px) {
    .party {
      &__wrap-images {
        display: flex;
      }
      &__wrap-desktop {
        display: flex;
        flex-direction: column;
      }
      &__rainbow {
        width: auto;
        height: 263px;
      }
      &__frozen {
        width: 628.32px;
        height: 263px;
      }
      &__mirror {
        margin-left: 10px;
        width: 306.66px;
        height: auto;
      }

      &__search {
        display: none;
      }
    }
  }
}
