//colors

$mainColor: #ff5959;
$backgroundColorLent: #bbb8b6;
$backgroundColorDelivery: #e8e6e5;
$backgroundColorPartyText: rgba(255, 255, 255, 0.8);
$fontColor: #67635f;
$back-color: #f8f8f8;

//fonts
$fontFamily: "Source Sans Pro", sans-serif;
