@import "variables";
@import "mixin-nav";
@import "mixin-brands";
@import "mixin-delivery";
@import "mixin-party";
@import "mixin-contact";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: $fontFamily;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .nav {
    background-color: $back-color;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;

    &__banderas {
      display: none;
    }

    &__links {
      margin: 0 auto;
      min-width: 325px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__burger {
      cursor: pointer;
    }

    &__person {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover span {
        background-position-x: -37px;
      }
    }

    &__person-img {
      width: 27px;
      height: 27px;
      background: url(/assets/sprite.svg) 0 0 no-repeat;
    }
    &__person-enter {
      display: none;
    }

    &__media {
      display: none;
    }

    &__buy-group {
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
    }

    &__search {
      width: 50px;
      height: 50px;
      background-color: $backgroundColorLent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        width: 50px;
        height: 50px;
        background: url(/assets/sprite.svg) -304px 12px no-repeat;
      }
    }

    &__buy {
      width: 50px;
      height: 50px;
      background-color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $mainColor;
      }
      &:hover span {
        background-position: -105px 10px;
      }

      span {
        width: 50px;
        height: 50px;
        background: url(assets/sprite.svg) -66px 10px no-repeat;
      }
    }

    &__num {
      width: 50px;
      height: 50px;
      background-color: $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        text-align: center;
        font-size: 20px;
        color: white;
      }
    }
  }

  @include nav();

  .main-title {
    width: 100vw;
    padding: 50px 0 120px;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    &__container {
      min-width: 325px;
      display: flex;
      align-items: center;
    }
  }

  .main-content {
    width: 100vw;
    justify-content: flex-end;
    font-family: $fontFamily;
    .party {
      background-color: $back-color;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        width: 318px;
      }
      &__image-cake {
        height: 125px;
      }

      &__title-fiesta {
        margin: 0;
        padding: 20px 0;
        line-height: 22px;
        font-size: 22px;
        font-weight: 900;
        color: #2e2925;
        letter-spacing: 6px;
      }
      &__text-fiesta {
        display: flex;
        justify-content: center;
        width: 218px;
        margin-bottom: 67px;
        padding-top: 110px;
      }
      &__wrap-text:hover {
        text-decoration-color: $fontColor;
      }
      &__text-fiesta-wrap {
        display: flex;
        justify-content: center;
        width: 218px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
      }

      &__fiestas-tematicas {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        width: 340px;
        height: 136.36px;
        overflow: hidden;
        margin-top: 7.5px;
      }
      &__rainbow {
        background-image: url("assets/fiestastematicas.jpg");
        background-size: cover;
      }
      &__frozen {
        background-image: url("assets/fiestaspersonajes.jpg");
        background-size: cover;
      }
      &__mirror {
        background-image: url("assets/pompones.jpg");
        background-size: cover;
      }
      &__wrap-text {
        position: flex;
        background-color: $backgroundColorPartyText;
        z-index: 1;
        cursor: pointer;
        padding: 20px;
        color: $fontColor;
        h3 {
          margin-bottom: 5px;
          font-size: 18px;
        }
        h3:hover {
          text-decoration: underline;
        }
      }
      &__parrafo-fiesta {
        display: none;
      }

      &__ver-mas {
        padding: 15px 30px;
        background-color: $mainColor;
        font-size: 18px;
        margin-top: 55px;
        border: none;
        color: white;
        cursor: pointer;
        line-height: 28px;
      }
      &__ver-mas:hover {
        text-decoration: underline;
      }
    }
    @include party();

    .brand {
      display: none;
    }
    @include brands();
  }

  .footer {
    width: 100vw;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .delivery {
      width: 100%;
      min-width: 325px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: $backgroundColorDelivery;

      &__container {
        max-width: 325px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #67625f;

        div {
          padding: 40px 0;
          width: 50%;
          text-align: center;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
        }

        span {
          margin-bottom: 25px;
          height: 60px;
        }

        h2 {
          line-height: 18px;
          font-size: 15px;
          margin: 0;
          padding: 0;
          font-weight: 600;
        }

        p {
          line-height: 18px;
          font-size: 12px;
          margin: 0;
          padding: 0;
        }
      }

      &__free {
        span {
          width: 85px;
          background: url(/assets/sprite.svg) 0 -38px no-repeat;
        }
        &:hover {
          color: $mainColor;
          span {
            background-position-y: -109px;
          }
        }
      }

      &__24h {
        span {
          width: 55px;
          background: url(/assets/sprite.svg) -90px -38px no-repeat transparent;
        }
        &:hover {
          color: $mainColor;
          span {
            background-position-y: -109px;
          }
        }
      }

      &__return {
        span {
          width: 68px;
          background: url(/assets/sprite.svg) -150px -36px no-repeat;
        }
        &:hover {
          color: $mainColor;
          span {
            background-position-y: -107px;
          }
        }
      }
      &__refund {
        span {
          width: 77px;
          background: url(/assets/sprite.svg) -223px -38px no-repeat;
        }
        &:hover {
          color: $mainColor;
          span {
            background-position-y: -109px;
          }
        }
      }
    }

    @include delivery();

    .form {
      width: 100%;
      min-width: 325px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      form {
        border-top: 1px solid $backgroundColorLent;
        border-bottom: 1px solid $backgroundColorLent;
        padding: 55px 0;
      }

      ~ &__email {
        width: 100%;
        height: 40px;
      }
      &__button-desktop {
        display: none;
      }
      &__title {
        font-size: 14px;
        line-height: 16px;
      }
      &__email {
        margin-top: 15px;
      }
      &__privacy {
        margin: 5px 0;

        line-height: 20px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__check {
        width: 20px;
        height: 20px;
        margin: 0;
        margin-right: 10px;
        cursor: pointer;
        &:active {
          background-position-y: -145px;
        }
      }
      p {
        cursor: pointer;
      }
      &__privacy-style {
        text-decoration-line: underline;
      }

      button {
        height: 40px;
        line-height: 40px;
        width: 100%;
        background-color: $mainColor;
        cursor: pointer;
        color: white;
        font-size: 14px;
        font-weight: 700;
        border: none;
        &:hover {
          background-color: rgba(229, 89, 89, 0.5);
        }
      }
    }

    .copyright {
      width: 100%;
      height: 50px;
      background-color: $mainColor;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      font-size: 14px;
      line-height: 50px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 36px;

      h2 {
        text-align: center;
        width: 325px;
        height: 16px;
        margin: 0;
        font-size: 14px;
        color: $fontColor;
        font-weight: 400;
      }

      &__h2 {
        padding: 55px 0 15px 0px;
      }
      &__wrap-icon {
        display: flex;
      }
      &__icon {
        width: 33px;
        height: 32px;
      }
      &__facebook {
        background: url("assets/sprite.svg") 0 -494px no-repeat;
        &:hover {
          background-position-y: -574px;
        }
      }

      &__twiter {
        background: url("assets/sprite.svg") -35px -494px no-repeat;
        &:hover {
          background-position-y: -574px;
        }
      }
      &__instagram {
        background: url("assets/sprite.svg") -70px -494px no-repeat;
        &:hover {
          background-position-y: -574px;
        }
      }
      &__pinterest {
        background: url("assets/sprite.svg") -106px -494px no-repeat;
        &:hover {
          background-position-y: -574px;
        }
      }
      &__youtube {
        background: url("assets/sprite.svg") -176px -494px no-repeat;
        &:hover {
          background-position-y: -574px;
        }
      }
    }

    .about {
      margin-bottom: 90px;
      h2 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
      }
      &__wrap {
        margin-top: 35px;
        height: 60.6px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 9px;
        color: $mainColor;
        &:hover {
          text-decoration: underline;
        }
      }
      &__develop {
        width: 30px;
        height: 31px;
        margin-bottom: 5px;
        background: url("assets/sprite.svg") 0 -207px no-repeat;
      }
      &__info {
        width: 30px;
        height: 31px;
        margin-bottom: 5px;
        background: url("assets/sprite.svg") 0 -246px no-repeat;
      }
      &__buy {
        width: 30px;
        height: 31px;
        margin-bottom: 5px;
        background: url("assets/sprite.svg") 0 -285px no-repeat;
      }
    }
  }
}

@include contact();
