* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.container .nav {
  background-color: #f8f8f8;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
}
.container .nav__banderas {
  display: none;
}
.container .nav__links {
  margin: 0 auto;
  min-width: 325px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav__burger {
  cursor: pointer;
}
.container .nav__person {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .nav__person:hover span {
  background-position-x: -37px;
}
.container .nav__person-img {
  width: 27px;
  height: 27px;
  background: url(/assets/sprite.svg) 0 0 no-repeat;
}
.container .nav__person-enter {
  display: none;
}
.container .nav__media {
  display: none;
}
.container .nav__buy-group {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
}
.container .nav__search {
  width: 50px;
  height: 50px;
  background-color: #bbb8b6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .nav__search span {
  width: 50px;
  height: 50px;
  background: url(/assets/sprite.svg) -304px 12px no-repeat;
}
.container .nav__buy {
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .nav__buy:hover {
  background-color: #ff5959;
}
.container .nav__buy:hover span {
  background-position: -105px 10px;
}
.container .nav__buy span {
  width: 50px;
  height: 50px;
  background: url(assets/sprite.svg) -66px 10px no-repeat;
}
.container .nav__num {
  width: 50px;
  height: 50px;
  background-color: #ff5959;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .nav__num p {
  text-align: center;
  font-size: 20px;
  color: white;
}
@media (min-width: 600px) {
  .container .nav__burger {
    display: none;
  }
  .container .nav__links {
    min-width: 1080px;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .container .nav__banderas {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container .nav__banderas-1 {
    background-color: #ff5959;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 140px;
    width: 80px;
  }
  .container .nav__banderas-2 {
    background-color: #6199af;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 4px;
    height: 70px;
    width: 70px;
  }
  .container .nav__banderas-2:hover {
    height: 140px;
  }
  .container .nav__banderas-3 {
    background-color: #f6b436;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70px;
    width: 70px;
  }
  .container .nav__banderas-3:hover {
    height: 140px;
  }
  .container .nav__person-enter {
    display: block;
    font-weight: 400;
    color: #2e2925;
    font-size: 13px;
  }
  .container .nav__person {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
  }
  .container .nav__person:hover p {
    color: #ff5959;
  }
  .container .nav__person-img {
    margin-right: 10px;
  }
  .container .nav__search {
    display: none;
  }
  .container .nav__media {
    display: flex;
    align-items: center;
    width: 275px;
  }
  .container .nav__media-list {
    list-style: none;
    display: flex;
  }
  .container .nav__media-list li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .nav__media-list span {
    width: 25px;
    height: 20px;
    margin: 0 7px;
  }
  .container .nav__media-list span:hover {
    background-position-y: -500px;
  }
  .container .nav__facebook {
    background: url(assets/sprite.svg) -4px -540px no-repeat;
  }
  .container .nav__twitter {
    background: url(assets/sprite.svg) -40px -540px no-repeat;
  }
  .container .nav__instagram {
    background: url(assets/sprite.svg) -75px -540px no-repeat;
  }
  .container .nav__pinterest {
    background: url(assets/sprite.svg) -110px -540px no-repeat;
  }
  .container .nav__youtube {
    background: url(assets/sprite.svg) -180px -540px no-repeat;
  }
  .container .nav__buy-group {
    width: 100px;
  }
}
.container .main-title {
  width: 100vw;
  padding: 50px 0 120px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.container .main-title__logo-desktop {
  display: none;
}
.container .main-title__container {
  min-width: 325px;
  display: flex;
  align-items: center;
}
.container .main-title__wrap-novedades-icons {
  display: none;
}
.container .main-content {
  width: 100vw;
  justify-content: flex-end;
  font-family: "Source Sans Pro", sans-serif;
}
.container .main-content .party {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main-content .party__image {
  display: flex;
  justify-content: center;
  margin-top: -70px;
  width: 318px;
}
.container .main-content .party__image-cake {
  height: 125px;
}
.container .main-content .party__title-fiesta {
  margin: 0;
  padding: 20px 0;
  line-height: 22px;
  font-size: 22px;
  font-weight: 900;
  color: #2e2925;
  letter-spacing: 6px;
}
.container .main-content .party__text-fiesta {
  display: flex;
  justify-content: center;
  width: 218px;
  margin-bottom: 67px;
  padding-top: 110px;
}
.container .main-content .party__wrap-text:hover {
  text-decoration-color: #67635f;
}
.container .main-content .party__text-fiesta-wrap {
  display: flex;
  justify-content: center;
  width: 218px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.container .main-content .party__fiestas-tematicas {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  width: 340px;
  height: 136.36px;
  overflow: hidden;
  margin-top: 7.5px;
}
.container .main-content .party__rainbow {
  background-image: url("assets/fiestastematicas.jpg");
  background-size: cover;
}
.container .main-content .party__frozen {
  background-image: url("assets/fiestaspersonajes.jpg");
  background-size: cover;
}
.container .main-content .party__mirror {
  background-image: url("assets/pompones.jpg");
  background-size: cover;
}
.container .main-content .party__wrap-text {
  position: flex;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  cursor: pointer;
  padding: 20px;
  color: #67635f;
}
.container .main-content .party__wrap-text h3 {
  margin-bottom: 5px;
  font-size: 18px;
}
.container .main-content .party__wrap-text h3:hover {
  text-decoration: underline;
}
.container .main-content .party__parrafo-fiesta {
  display: none;
}
.container .main-content .party__ver-mas {
  padding: 15px 30px;
  background-color: #ff5959;
  font-size: 18px;
  margin-top: 55px;
  border: none;
  color: white;
  cursor: pointer;
  line-height: 28px;
}
.container .main-content .party__ver-mas:hover {
  text-decoration: underline;
}
@media (min-width: 600px) {
  .container .main-content .main-content {
    min-width: 1080px;
  }
  .container .main-content .party__wrap-text {
    width: 220.6px;
    height: 160px;
  }
  .container .main-content .party__div-triangulo {
    width: 100px;
    height: 159.5px;
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: polygon(0% 0, 0 100%, 100% 100%);
  }
  .container .main-content .party__parrafo-fiesta {
    font-size: 14px;
    display: inline;
  }
  .container .main-content .party__wrap-images {
    display: flex;
  }
  .container .main-content .party__wrap-desktop {
    display: flex;
    flex-direction: column;
  }
  .container .main-content .party__rainbow {
    width: auto;
    height: 263px;
    display: flex;
    justify-content: end;
  }
  .container .main-content .party__frozen {
    width: 628.32px;
    height: 263px;
  }
  .container .main-content .party__mirror {
    margin-left: 10px;
    width: 306.66px;
    height: auto;
  }
}
.container .main-content .brand {
  display: none;
}
@media (min-width: 600px) {
  .container .main-content .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .main-content .brand__text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 67px;
    padding-top: 110px;
  }
  .container .main-content .brand__titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .main-content .brand__title {
    margin: 0;
    padding: 20px 0;
    font-weight: 900;
    color: #2e2925;
    letter-spacing: 6px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    letter-spacing: 10px;
  }
  .container .main-content .brand__line {
    width: 280px;
    height: 2px;
    background-color: black;
    border: none;
  }
  .container .main-content .brand__list {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1110px;
  }
  .container .main-content .brand__list li {
    height: 75px;
    cursor: pointer;
    margin: 15px;
    opacity: 0.8;
  }
  .container .main-content .brand__list li img {
    height: 75px;
    width: auto;
    filter: grayscale(100%);
  }
  .container .main-content .brand__list li img:hover {
    filter: none;
  }
  .container .main-content .brand__list li:hover {
    opacity: 1;
  }
  .container .main-content .brand__ver-mas {
    padding: 15px 30px;
    background-color: #ff5959;
    font-size: 18px;
    margin-top: 55px;
    border: none;
    color: white;
    cursor: pointer;
    line-height: 28px;
  }
  .container .main-content .brand__ver-mas:hover {
    text-decoration: underline;
  }
}
.container .footer {
  width: 100vw;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .footer .delivery {
  width: 100%;
  min-width: 325px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e8e6e5;
}
.container .footer .delivery__container {
  max-width: 325px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #67625f;
}
.container .footer .delivery__container div {
  padding: 40px 0;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.container .footer .delivery__container span {
  margin-bottom: 25px;
  height: 60px;
}
.container .footer .delivery__container h2 {
  line-height: 18px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.container .footer .delivery__container p {
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.container .footer .delivery__free span {
  width: 85px;
  background: url(/assets/sprite.svg) 0 -38px no-repeat;
}
.container .footer .delivery__free:hover {
  color: #ff5959;
}
.container .footer .delivery__free:hover span {
  background-position-y: -109px;
}
.container .footer .delivery__24h span {
  width: 55px;
  background: url(/assets/sprite.svg) -90px -38px no-repeat transparent;
}
.container .footer .delivery__24h:hover {
  color: #ff5959;
}
.container .footer .delivery__24h:hover span {
  background-position-y: -109px;
}
.container .footer .delivery__return span {
  width: 68px;
  background: url(/assets/sprite.svg) -150px -36px no-repeat;
}
.container .footer .delivery__return:hover {
  color: #ff5959;
}
.container .footer .delivery__return:hover span {
  background-position-y: -107px;
}
.container .footer .delivery__refund span {
  width: 77px;
  background: url(/assets/sprite.svg) -223px -38px no-repeat;
}
.container .footer .delivery__refund:hover {
  color: #ff5959;
}
.container .footer .delivery__refund:hover span {
  background-position-y: -109px;
}
@media (min-width: 600px) {
  .container .footer .delivery__container {
    min-width: 1080px;
    flex-wrap: nowrap;
    padding: 48px 0;
  }
  .container .footer .delivery__container div {
    width: 25%;
    padding: 0;
  }
  .container .footer .delivery__container h2 {
    font-size: 16px;
    line-height: 19px;
  }
}
.container .footer .form {
  width: 100%;
  min-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container .footer .form form {
  border-top: 1px solid #bbb8b6;
  border-bottom: 1px solid #bbb8b6;
  padding: 55px 0;
}
.container .footer .form__email {
  width: 100%;
  height: 40px;
}
.container .footer .form__button-desktop {
  display: none;
}
.container .footer .form__title {
  font-size: 14px;
  line-height: 16px;
}
.container .footer .form__email {
  margin-top: 15px;
}
.container .footer .form__privacy {
  margin: 5px 0;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .footer .form__check {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}
.container .footer .form__check:active {
  background-position-y: -145px;
}
.container .footer .form p {
  cursor: pointer;
}
.container .footer .form__privacy-style {
  text-decoration-line: underline;
}
.container .footer .form button {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #ff5959;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: none;
}
.container .footer .form button:hover {
  background-color: rgba(229, 89, 89, 0.5);
}
.container .footer .copyright {
  width: 100%;
  height: 50px;
  background-color: #ff5959;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 50px;
}
.container .footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 36px;
}
.container .footer .contact h2 {
  text-align: center;
  width: 325px;
  height: 16px;
  margin: 0;
  font-size: 14px;
  color: #67635f;
  font-weight: 400;
}
.container .footer .contact__h2 {
  padding: 55px 0 15px 0px;
}
.container .footer .contact__wrap-icon {
  display: flex;
}
.container .footer .contact__icon {
  width: 33px;
  height: 32px;
}
.container .footer .contact__facebook {
  background: url("assets/sprite.svg") 0 -494px no-repeat;
}
.container .footer .contact__facebook:hover {
  background-position-y: -574px;
}
.container .footer .contact__twiter {
  background: url("assets/sprite.svg") -35px -494px no-repeat;
}
.container .footer .contact__twiter:hover {
  background-position-y: -574px;
}
.container .footer .contact__instagram {
  background: url("assets/sprite.svg") -70px -494px no-repeat;
}
.container .footer .contact__instagram:hover {
  background-position-y: -574px;
}
.container .footer .contact__pinterest {
  background: url("assets/sprite.svg") -106px -494px no-repeat;
}
.container .footer .contact__pinterest:hover {
  background-position-y: -574px;
}
.container .footer .contact__youtube {
  background: url("assets/sprite.svg") -176px -494px no-repeat;
}
.container .footer .contact__youtube:hover {
  background-position-y: -574px;
}
.container .footer .about {
  margin-bottom: 90px;
}
.container .footer .about h2 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}
.container .footer .about__wrap {
  margin-top: 35px;
  height: 60.6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;
  color: #ff5959;
}
.container .footer .about__wrap:hover {
  text-decoration: underline;
}
.container .footer .about__develop {
  width: 30px;
  height: 31px;
  margin-bottom: 5px;
  background: url("assets/sprite.svg") 0 -207px no-repeat;
}
.container .footer .about__info {
  width: 30px;
  height: 31px;
  margin-bottom: 5px;
  background: url("assets/sprite.svg") 0 -246px no-repeat;
}
.container .footer .about__buy {
  width: 30px;
  height: 31px;
  margin-bottom: 5px;
  background: url("assets/sprite.svg") 0 -285px no-repeat;
}

@media only screen and (min-width: 600px) {
  .container .footer .wrap-contact-web {
    display: flex;
    max-width: 1080px;
    margin: 0 56px;
    margin-top: 20px;
  }
  .container .footer .wrap-contact-web .contact {
    width: 236px;
    height: 147px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 1px solid #bbb8b6;
  }
  .container .footer .wrap-contact-web .contact h2 {
    margin-top: -40px;
    text-align: left;
    padding-bottom: 20px;
  }
  .container .footer .wrap-contact-web .contact__wrap-icon {
    margin-top: -30px;
  }
  .container .footer .wrap-contact-web .form {
    width: 475px;
    height: 147px;
    color: #67635f;
  }
  .container .footer .wrap-contact-web .form form {
    width: 475px;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    border-top: 0px;
    border-bottom: 0px;
  }
  .container .footer .wrap-contact-web .form__button-desktop {
    display: block;
    width: 124.98px;
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
  }
  .container .footer .wrap-contact-web .form__button-mobile {
    display: none;
  }
  .container .footer .wrap-contact-web .form__wrap-desktop {
    display: flex;
    flex-direction: row;
  }
  .container .footer .wrap-contact-web .form__title {
    text-align: start;
    width: 375px;
    height: 16px;
    padding: 20px 0;
  }
  .container .footer .wrap-contact-web .form__email {
    width: 220.98px;
    height: 38px;
  }
  .container .footer .wrap-contact-web .about {
    width: 196.5px;
    height: 147px;
    padding: 15px 25px;
    border-left: 1px solid #bbb8b6;
  }
  .container .footer .wrap-contact-web .about__wrap {
    width: 216.5px;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .container .footer .wrap-contact-web .about__wrap .about__develop {
    margin-right: 5px;
  }
  .container .footer .wrap-contact-web .about__wrap .about__info {
    margin-right: 5px;
  }
  .container .footer .wrap-contact-web .about__wrap .about__buy {
    margin-right: 5px;
  }
}
@media screen and (min-width: 600px) {
  .container .main-title {
    min-width: 1080px;
    display: flex;
  }
  .container .main-title__container {
    display: flex;
    justify-content: flex-start;
  }
  .container .main-title__novedades {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .container .main-title__text-novedades {
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: start;
    padding-right: 8px;
    background-color: #9faa4d;
  }
  .container .main-title__text-oferta {
    width: 130px;
    height: 30px;
    background-color: #8e789d;
    padding-right: 15px;
  }
  .container .main-title__search {
    min-width: 300px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
  }
  .container .main-title__buscas {
    border: none;
    width: calc(100% - 49px);
    height: 28px;
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .container .main-title__lupa {
    width: 49px;
    height: 28px;
    background-color: grey;
  }
  .container .main-title__wrap-desktop {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    height: 198px;
  }
  .container .main-title__wrap-novedades-icons {
    width: 570px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 100px;
  }
  .container .main-title__icon-utensilios {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    background-image: url("assets/utensilios.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: #e8e6e5;
  }
  .container .main-title__icon-utensilios:hover {
    background-color: #ff5959;
  }
  .container .main-title__h2-utensilios {
    margin-top: 105px;
    font-size: 15px;
    text-align: center;
    color: #2e2925;
  }
  .container .main-title__icon-ingredientes {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    background-image: url("assets/magdalena.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: #e8e6e5;
  }
  .container .main-title__icon-ingredientes:hover {
    background-color: #ff5959;
  }
  .container .main-title__icon-fiestas {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    background-image: url("assets/tarta-cumpleanos.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: #e8e6e5;
  }
  .container .main-title__icon-fiestas:hover {
    background-color: #ff5959;
  }
  .container .main-title__icon-marcas {
    width: 100px;
    height: 100px;
    background-image: url("assets/delantal.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: #e8e6e5;
  }
  .container .main-title__icon-marcas:hover {
    background-color: #ff5959;
  }
  .container .main-title__icon-bocadillo {
    width: 100px;
    height: 100px;
    background-image: url("assets/menu.svg");
    background-repeat: no-repeat;
    background-position: -320px 0;
    background-size: 560px;
    background-color: #ff5959;
  }
  .container .main-title__icon-bocadillo:hover {
    background-color: #e8e6e5;
  }
  .container .main-title__wrap-icon {
    display: flex;
    width: 446px;
    height: 100px;
    justify-content: space-evenly;
  }
  .container .main-title__wrap {
    display: flex;
    margin-top: 38px;
    justify-content: space-between;
  }
  .container .main-title__logo-desktop {
    display: flex;
    margin-top: 120px;
  }
  .container .main-title__logo-mobile {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
