//@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 600px;
  min-height: 100vh;
}

.container {
  color: grey;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: grey;

  .browser {
    background-color: red;
  }

  .main-title {
    position: relative;
    margin: 0 137.5px;
  }

  .main-content {
    background-color: blue;
    .party__img-cake {
      height: 125px;
    }
  }

  .footer {
    background-color: lightcoral;
  }
}
