//@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 600px;
  min-height: 100vh;
}

.container {
  color: grey;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;

  .browser {
    background-color: red;
  }

  .main-title {
    background-color: orange;
  }

  .main-content {
    background-color: blue;
  }

  .footer {
    background-color: lightcoral;
  }
}
