@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.container .nav {
  background-color: #f8f8f8;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
}
.container .nav__links {
  margin: 0 auto;
  min-width: 325px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav__burger {
  cursor: pointer;
}
.container .nav__person-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .nav__person-container:hover span {
  background-position-x: -37px;
}
.container .nav__person {
  width: 27px;
  height: 27px;
  background: url(/assets/sprite.svg) 0 0 no-repeat;
}
.container .nav__buy-group {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
}
.container .nav__search {
  width: 50px;
  height: 50px;
  background-color: #bbb8b6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .nav__search span {
  width: 50px;
  height: 50px;
  background: url(/assets/sprite.svg) -304px 12px no-repeat;
}
.container .nav__buy {
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .nav__buy:hover {
  background-color: #ff5959;
}
.container .nav__buy:hover span {
  background-position: -105px 10px;
}
.container .nav__buy span {
  width: 50px;
  height: 50px;
  background: url(/assets/sprite.svg) -66px 10px no-repeat;
}
.container .nav__num {
  width: 50px;
  height: 50px;
  background-color: #ff5959;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .nav__num p {
  text-align: center;
  font-size: 20px;
  color: white;
}
.container .main-title {
  width: 100vh;
  padding: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.container .main-title__container {
  min-width: 325px;
  display: flex;
  align-items: center;
}
.container .main-content {
  width: 100vw;
  justify-content: flex-end;
  font-family: "Source Sans Pro", sans-serif;
}
.container .main-content .party {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main-content .party__image {
  display: flex;
  justify-content: center;
  margin-top: -70px;
  width: 318px;
}
.container .main-content .party__image-cake {
  height: 125px;
}
.container .main-content .party__title-fiesta {
  margin: 0;
  padding: 20px 0;
  line-height: 22px;
  font-size: 22px;
  font-weight: 900;
  color: #2e2925;
  letter-spacing: 6px;
}
.container .main-content .party__text-fiesta {
  display: flex;
  justify-content: center;
  width: 218px;
  margin-bottom: 67px;
  padding-top: 110px;
}
.container .main-content .party__text-fiesta-wrap {
  display: flex;
  justify-content: center;
  width: 218px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.container .main-content .party__fiestas-tematicas {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  width: 340px;
  height: 136.36px;
  overflow: hidden;
  margin-top: 7.5px;
}
.container .main-content .party__rainbow {
  background-image: url("assets/fiestastematicas.jpg");
  background-size: cover;
}
.container .main-content .party__frozen {
  background-image: url("assets/fiestaspersonajes.jpg");
  background-size: cover;
}
.container .main-content .party__mirror {
  background-image: url("assets/pompones.jpg");
  background-size: cover;
}
.container .main-content .party__wrap-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.container .main-content .party__wrap-text h3 {
  margin: 0;
  padding: 20px;
  color: #67635f;
}
.container .main-content .party__ver-mas {
  width: 18¡70 0.2px;
  height: 27.2 0.4px;
  padding: 15px 30px;
  background-color: #ff5959;
  font-size: 18px;
  margin-top: 55px;
  border: none;
  color: white;
}
.container .footer {
  width: 100vw;
  background-color: lightcoral;
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .footer .delivery {
  width: 100%;
  min-width: 325px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e8e6e5;
}
.container .footer .delivery__container {
  max-width: 325px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #67625f;
}
.container .footer .delivery__container div {
  padding: 40px 0;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.container .footer .delivery__container span {
  margin-bottom: 25px;
  height: 60px;
}
.container .footer .delivery__container h2 {
  line-height: 18px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.container .footer .delivery__container p {
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.container .footer .delivery__free span {
  width: 85px;
  background: url(/assets/sprite.svg) 0 -38px no-repeat;
}
.container .footer .delivery__free:hover h2 {
  color: #ff5959;
}
.container .footer .delivery__24h span {
  width: 55px;
  background: url(/assets/sprite.svg) -90px -38px no-repeat transparent;
}
.container .footer .delivery__return span {
  width: 68px;
  background: url(/assets/sprite.svg) -150px -36px no-repeat;
}
.container .footer .delivery__refund span {
  width: 77px;
  background: url(/assets/sprite.svg) -223px -38px no-repeat;
}

/*# sourceMappingURL=styles.css.map */
